
{% extends 'bases/header_login.html' %}
{% load widget_tweaks %}
{% block content %}
<body class="login">


    <div class="d-flex align-items-center" style="min-height: 100vh">
        <div class="col-sm-8 col-md-6 col-lg-4 mx-auto" style="min-width: 300px;">
            <div class="text-center mt-5 mb-1">
                <div class="avatar avatar-lg">
                    <img src="/static/assets/images/logo/primary.svg" class="avatar-img rounded-circle" alt="LearnPlus" />
                </div>
            </div>
            <div class="d-flex justify-content-center mb-5 navbar-light">
                <a href="student-dashboard.html" class="navbar-brand m-0">LearnPlus</a>
            </div>
            <div class="card navbar-shadow">
                <div class="card-header text-center">
                    <h4 class="card-title">Login</h4>
                    <p class="card-subtitle">Access your account</p>
                </div>
                <div class="card-body"  id="login">

        
                    
                    <form method="post">
                        {% csrf_token %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        
                        <div class="form-group">
                            {{ form.username.label_tag }}  <!-- Affiche le label pour 'username' -->
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label_tag }}  <!-- Affiche le label pour 'password' -->
                            {{ form.password }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </div>
                        
                    </form>
                    
                    
                </div>
                
            </div>
        </div>
    </div>
{% endblock content %}

 